:root {
  --body-color: rgb(54, 54, 54);
  --light-text: rgb(92, 92, 92);
  --white: #ffffff;
  --primary: rgb(38, 190, 0);
  --secondary: rgb(59, 115, 117);
  --red: rgb(220, 53, 69);
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--secondary) #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 10px;
}
/* Header Styles Start */
.wiz-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.wiz-header__left {
  display: flex;
  align-items: center;
}
.wiz-header__left .wiz-header__title {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
.wiz-header__left .wiz-header__title img {
  width: 30px;
  margin: 0 10px;
  margin-top: -2px;
}
.wiz-header__badge {
  margin-left: 8px;
  font-size: 12px;
  border: 1px solid var(--primary);
  padding: 2px 10px;
  border-radius: 8px;
  color: var(--light-text);
}
.wiz-header__left .btn {
  font-size: 20px;
  background-color: rgb(228, 228, 228);
  border-radius: 30px;
  margin-right: 10px;
}
.wiz-header__right {
  display: flex;
  align-items: center;
  position: relative;
}
.wiz-header__user-dropdown {
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 10000;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 300px;
  padding: 15px;
}
.wiz-header__user-dropdown p {
  margin-bottom: 5px;
  font-size: 14px;
}
.wiz-header__user-dropdown .log-out {
  text-decoration: none;
  color: var(--secondary);
  display: block;
  margin-top: 15px;
  transition: all 0.3s ease;
}
.wiz-header__user-dropdown .log-out:hover {
  transform: translateX(5px);
}
.wiz-header__right .wiz-header__right__link {
  color: var(--body-color);
  font-size: 22px;
  padding: 2px;
  margin: 0 10px;
}
.wiz-header__right .wiz-header__right__link.user-icon {
  font-size: 30px;
  margin-left: 30px;
}
/* Header Styles End */

/* Body Styles Start */
.wiz-body {
  margin: 15px 20px;
  position: relative;
}

.wiz-body__history {
  width: 280px;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease;
}
.wiz-body.wiz-history-hidden .wiz-body__history {
  left: -150%;
}
.wiz-body__history h6 {
  margin: 0 20px 0 10px;
  padding: 0 10px 8px 10px;
  border-bottom: 1px solid rgb(216, 216, 216);
}
.wiz-body__history__list {
  list-style: none;
  width: 100%;
  padding-left: 0;
  height: calc(100vh - 190px);
  overflow-y: auto;
  padding-right: 10px;
}
.wiz-body__history__list__item {
  font-size: 14px;
  display: block;
  text-decoration: none;
  color: var(--body-color);
  width: 100%;
  margin: 8px 0;
  padding: 8px 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
}
.wiz-body__history__list__item:hover {
  background-color: #ebebeb;
}
.wiz-body__history__list__item.selected {
  background-color: var(--secondary);
  color: #ffffff;
}
.wiz-body__history__list__item i {
  margin-right: 8px;
}
.wiz-body__history__list__item span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.wiz-body__history__clear {
  text-align: center;
}
.wiz-body__history__clear .btn.btn-danger {
  padding: 6px 24px;
  font-size: 14px;
  background-color: #ffffff;
  color: var(--red);
}
.wiz-body__history__clear .btn.btn-danger:hover {
  background-color: var(--red);
  color: #ffffff;
}
.wiz-body__chat {
  margin-left: 300px;
  transition: all 0.5s ease;
}
.wiz-body.wiz-history-hidden .wiz-body__chat {
  margin-left: 0;
}
.wiz-body__chat__cont {
  background-color: #f3f6fc;
  background: rgb(243, 246, 252);
  background: linear-gradient(
          90deg,
          rgba(243, 246, 252, 1) 0%,
          rgba(243, 246, 252, 1) 50%,
          rgba(228, 228, 228, 1) 100%
  );
  padding: 20px;
  border-radius: 20px;
}
.wiz-body__chat__inner {
  height: 100%;
  height: calc(100vh - 140px);
  /* margin: 0 100px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wiz-body__chat__conversation {
  padding: 0 100px;
  overflow: auto;
  list-style: none;
  margin-bottom: 8px;
  color: var(--body-color);
  flex-grow: 1;
}

.wiz-body__chat__conversation li {
  display: flex;
  align-items: center;
  margin: 16px 0;
  padding: 0 20px;
  font-size: 14px;
}
.wiz-body__chat__conversation li p {
  margin-bottom: 0;
}
.wiz-body__chat__conversation li .cont {
  margin-right: 15px;
  font-size: 24px;
  min-width: 55px;
  width: 55px;
}
.wiz-body__chat__conversation li.response {
  background-color: #ffffff;
  padding: 50px 20px;
  border-radius: 15px;
}
.wiz-body__chat__conversation li.response img {
  width: 35px;
}
.wiz-body__chat__conversation li.question img {
  width: 35px;
}
.wiz-body__chat__conversation li.question .cont,
.wiz-body__chat__conversation li.response .cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wiz-body__chat__conversation li.question .cont span,
.wiz-body__chat__conversation li.response .cont span {
  font-size: 12px;
  margin-top: 2px;
}
.wiz-body__chat__question {
  display: flex;
}
.wiz-body__chat__question__form{
  width: 100%;
  display: flex;
}
.wiz-body__chat__question input {
  padding: 12px 24px;
  font-size: 14px;
  border: none;
}
.wiz-body__chat__question input:active,
.wiz-body__chat__question input:focus {
  box-shadow: none;
  outline: 0;
}
.wiz-body__chat__question .btn {
  margin-left: 5px;
  font-size: 20px;
}
.wiz-body__chat__question .btn:hover {
  color: var(--secondary);
  border: 1px solid var(--secondary);
}
.wiz-body__chat__question__image {
  display: flex;
  align-items: center;
}
.wiz-body__chat__question__image img {
  width: 35px;
  margin-right: 6px;
}
.wiz-body__chat__ask {
  margin: 0 100px;
}
.wiz-body__chat__suggestion {
  border-top: 1px solid gainsboro;
}
.wiz-body__chat__suggestion ul {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-bottom: 8px;
  flex-wrap: wrap;
  margin: 5px 100px;
}
.wiz-body__chat__suggestion li {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 3px 5px;
}
.wiz-body__chat__suggestion li .btn {
  border: 1px solid var(--secondary);
  font-size: 13px;
  padding: 4px 16px;
  border-radius: 10px;
}
.wiz-body__chat__suggestion li .btn:hover {
  background-color: var(--secondary);
  color: #ffffff;
}
/* Body Styles End */


.half {
  display: flex;
  justify-content: start;
  align-items: center;
}
.half.light .typing {
  background-color: white;
}

.typing {
  display: block;
  width: 60px;
  height: 40px;
  border-radius: 20px;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgba(116,205,248,1);
  margin: 3px;
}
.circle.scaling {
  animation: typing 1000ms ease-in-out infinite;
  animation-delay: 3600ms;
}
.circle.bouncing {
  animation: bounce 1000ms ease-in-out infinite;
  animation-delay: 3600ms;
}

.circle:nth-child(1) {
  animation-delay: 0ms;
}

.circle:nth-child(2) {
  animation-delay: 333ms;
}

.circle:nth-child(3) {
  animation-delay: 666ms;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}



@media only screen and (max-width: 991px) {
  .wiz-body {
    margin: 0;
  }
  .wiz-body__chat {
    margin-left: 0;
  }
  .wiz-body__history {
    width: 350px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .wiz-body__history__list {
    height: calc(100vh - 180px);
    background-color: #ffffff;
  }
  .wiz-body__chat__conversation {
    padding: 0 10px;
  }
  .wiz-body__chat__ask {
    margin: 0 10px;
  }
  .wiz-body__chat__suggestion li .btn {
    font-size: 12px;
  }
  .wiz-body__chat__cont {
    padding: 20px 5px;
  }
  .wiz-body__chat__inner {
    height: calc(100vh - 120px);
  }
  .wiz-header__right .wiz-header__right__link {
    margin: 0 2px;
  }
  .wiz-header__right .wiz-header__right__link.user-icon {
    margin-left: 5px;
  }
  .wiz-header__left .wiz-header__title img {
    width: 25px;
    margin: 0 5px;
  }
  .wiz-header__left .btn {
    margin-right: 5px;
  }
  .wiz-header__left .wiz-header__title {
    font-size: 18px;
  }
  .wiz-header__badge {
    font-size: 10px;
    margin-left: 4px;
  }
  .wiz-body__chat__suggestion ul {
    margin: 0 10px;
  }
  .wiz-body__history h6 {
    margin-bottom: 2px !important;
    padding-bottom: 6px;
    margin-top: 8px;
  }
}
